<!DOCTYPE html>
<html>
<head>
  <title>Services - Murugan Boutique</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


<header>
  <div class="logo">
    <img src="{{ url_for('static', filename='images/image3.png') }}" width="80">
    <h1>Murugan Boutique</h1>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/booking">booking</a>
    <a href="/contact">Contact</a>
  </nav>
</header>


<section class="services">

  <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample1.jpg') }}">
    <h3>Blouse Stitching</h3>
    <p>₹350</p>
  </div>

  <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample2.jpg') }}">
    <h3>blouse without lining </h3>
    <p>₹300</p>
  </div>

  <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample3.jpg') }}">
    <h3>designed blouse Stitching</h3>
    <p>₹450</p>
  </div>

  <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample4.jpg') }}">
    <h3>Aari Work Blouse</h3>
    <p>₹600+</p>
  </div>

  <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample6.jpg') }}">
    <h3>Bridal Wear</h3>
    <p>₹800+</p>
  </div>

   <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample9.jpg') }}">
    <h3> design half saree</h3>
    <p>₹900</p>
  </div>

   <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample8.jpg') }}">
    <h3>normal half saree stitching</h3>
    <p>₹650</p>
  </div>
 <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample10.jpg') }}">
    <h3>Bridal Wear half saree</h3>
    <p>₹1000+</p>
  </div>
   <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample5.jpg') }}">
    <h3>custom design</h3>
    <p>₹500+</p>
  </div>
   <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample7.jpg') }}">
    <h3>Aari work blouse</h3>
    <p>₹1000+</p>
  </div>
     <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample11.jpg') }}">
    <h3>kids wear pavadai sattai</h3>
    <p>₹450+</p>
  </div>
     <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample13.jpg') }}">
    <h3>kids frock</h3>
    <p>₹350+</p>
  </div>
     <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample12.jpg') }}">
    <h3>kids design pavadai sattai</h3>
    <p>₹600+</p>
  </div>
     <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample14.jpg') }}">
    <h3>normal chudithar</h3>
    <p>₹600+</p>
  </div>
     <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample15.jpg') }}">
    <h3>saree falls</h3>
    <p>₹100</p>
  </div>
     <div class="service-box">
    <img src="{{ url_for('static', filename='images/sample16.jpg') }}">
    <h3>saree pico</h3>
    <p>₹40</p>
  </div>
</section>


<footer>
  <p>© 2026 Murugan Boutique</p>
</footer>

</body>
</html>
